<header class="header" id="header">
  <div id="header-title">
    Forum
  </div>
  <div id="header-align-right">
    <a href="/register" id="header-login" class="header-button style-outline nocolor">
      Sign up
    </a>
    <a href="/login" id="header-login" class="header-button with-shadow nocolor">
      <span class="icon-login"></span>Log in
    </a>
  </div>
</header>
