/*styled-button*/

.styled-button:where(a, a:hover, a:visited, a:active),
.styled-button :where(a, a:hover, a:visited, a:active) {
  color: inherit;
  text-decoration: none;
}
.styled-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .4rem 1rem;
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
  transition: background .25s;
  border-radius: 999rem;
  margin: .2rem;
}
.styled-button.inline-button {
  display: inline-flex;
}
.styled-button:not(:disabled) {
  cursor: pointer;
}
.styled-button.inline {
  display: inline-flex;
}
.styled-button.style-outline {
  background: transparent;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary);
}
.styled-button.with-shadow {
  box-shadow: 0 0 .1rem rgba(0,0,0,.33);
}
.styled-button:hover {
  background: var(--color-primary-dark);
}
.styled-button:active {
  background: var(--color-primary-darker);
}
.styled-button.style-outline:hover {
  background: var(--color-primary-light-slight);
}
.styled-button .styled-button-icons {
  display: inline-grid;
}
.styled-button > .styled-button-icons > .styled-button-icon {
  grid-column: 1;
  grid-row: 1;
  opacity: 1;
  transition: opacity .1s;
}
.styled-button > .styled-button-icons > .styled-button-icon:not(.styled-button-icon-selected) {
  opacity: 0;
}

/*styled-input*/

.styled-input {
  --margin: .4rem;
  position: relative;
  display: flex;
  z-index: 0;
}
.styled-input > input {
  flex: 2;
  display: block;
  border-radius: 999rem;
  border: 1px solid gray;
  padding: .4rem 1rem;
  margin: var(--margin);
  z-index: 1;
}
.styled-input > label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(1.5rem, calc((1rem + 1em) / 3)) scale(1.1);
  background: linear-gradient(to bottom, transparent 0%, var(--background-color, var(--color-background, white)) 1%, var(--background-color, var(--color-background)) 49%, white 51%, white 99%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 999rem;
  padding-left: 3px;
  padding-right: 3px;
  transition: color .33s 0s, border-color .33s, transform .33s;
  color: gray;
  z-index: 2;
}
@-moz-document url-prefix() {
  .styled-input > input:autofill ~ label {
    background: linear-gradient(to bottom, transparent 0%, var(--background-color, var(--color-background, white)) 1%, var(--background-color, var(--color-background)) 49%, #fffcc8 51%, #fffcc8 99%, transparent 100%);
  }
}
/* Thiccer outline while focused */
.styled-input > input:focus {
  outline: none;
  border-width: 2px;
  margin: calc(var(--margin) - 1px);
}
/*Move label when focused */
.styled-input > :is(input:focus, input:not(:placeholder-shown)) ~ label {
  transition: color .33s, border-color .33s, transform .33s, background-position 0.001s linear .165s;
  transform: translate(1.25rem, -.25em) scale(.9);
  background-position: 0rem;
  color: black;
}
/* Red color when invalid */
.styled-input > input:invalid:not(:placeholder-shown) {
  color: var(--color-error, red);
  border-color: var(--color-error, red);
}
.styled-input > input:invalid:not(:placeholder-shown) ~ label {
  color: var(--color-error, red);
}
/* Fix Chrome autofill messing with colors */
.styled-input > input:-webkit-autofill,
.styled-input > input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.styled-input > input[data-autocompleted] {
  background-color: white !important;
}

/*Caps lock indicator*/
.styled-input.show-caps.caps::after {
  content: 'A \25B2';

  display: inline-block;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-1rem, -50%);

  pointer-events: none;

  font-style: normal;
  font-weight: bold;
  font-size: .85rem;
  color: gray;
  z-index: 999;

  background: white;
  border-radius: 999rem;
  padding: 3px;
}
