:root {
  --color-background: #dae0e6;
  --color-primary: #0277bc;
  --color-primary-light: #58a5f0;
  --color-primary-light-slight: #cde4fa;
  --color-primary-dark: #004c8c;
  --color-primary-darker: #003a6b;
  --color-error: #eb0000;
  --color-warn: var(--color-primary); /* Yellow doesn't look good on gray bg */
}
