body {
  background: linear-gradient(to top right, #FFCCCB, #afd9e9);
}
#center-me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#error, #error-code {
  color: var(--color-primary);
  margin: 0;
}
#error {
  margin-bottom: -.5rem;
}
#error-code {
  font-size: min(max(8vw, 5rem), 9rem);
}
