body {
  background: linear-gradient(to top right, #FFCCCB, #afd9e9);
}
#center-me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#error, #error-code {
  color: var(--color-primary);
  margin: 0;
}
#error {
  margin-bottom: -.5rem;
}
#error-code {
  font-size: min(max(8vw, 5rem), 9rem);
}
#smiley::before {
  content: ':(';
  color: var(--color-primary);
  opacity: .15;
  text-rendering: geometricPrecision;
  font-size: 50vh;
}
#smiley {
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(35deg) translateX(15.5vw);
  pointer-events: none;
}
