@import url("./colors.css");
@import url("./animation.css");
@import url("./inputs/styled-button.css");
@import url("./inputs/styled-input.css");
@import url("./inputs/styled-collapsible.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./share.css");

:where(*, *::after, *::before) {
  box-sizing: border-box;
}
:where(a.nocolor, a.nocolor:hover, a.nocolor:visited, a.nocolor:active) {
  color: inherit;
  text-decoration: none;
}
a.custom, .link-custom {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-primary, darkblue);
  text-decoration: underline;
}
a.custom:hover {
  color: var(--color-primary-dark, blue);
}
img {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  font-family: 'Google Sans', Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 100vh fix */
body {
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}

/* STYLE SCROLLBAR */
@-moz-document url-prefix() {
  /* ON FIREFOX */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) white;
  }
  /* Scrollbar separator on Firefox */
  :root:not(.no-scrollbar) body::after {
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    left: unset;
    z-index: 10000;
    border-right: 1px solid rgba(0, 0, 0, .25);
  }
}
/* ON CHROMIUM */
::-webkit-scrollbar {
  background-color: var(--color-primary-light-slight);
  border-left: 1px solid rgba(0, 0, 0, .25);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 999rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}
::-webkit-scrollbar,::-webkit-scrollbar-thumb {
  width: 9px;
}
html.hide-scrollbar {
  overflow: hidden;
}

#content > :is(#content-padding, .content-padding), #content.content-padding {
  padding: 1rem;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-center { text-align: center; }
.inline-flex { display: inline-flex; }
.flex-row { flex-direction: row;}
.block { display: block; }
.no-margin { margin: 0; }
.display-none { display: none; }
.small-margin { margin: .25rem; }
.margin-bottom-only { margin: 0; margin-bottom: 1rem; }

.warning, .error, .success { margin: .5rem; }
.error { color: var(--color-error); }
.warning { color: var(--color-warn); }
.success { color: var(--color-success); }
.warning::before { content: "\f071"; }
.error::before { content: "\f06a"; }
.success::before { content: "\f058"; }
.warning::before, .error::before, .success::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  line-height: 1em;
  margin-right: .2em;
  margin-left: .4em;
}
.warning-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background: var(--color-primary-light-slight);
  border-radius: .5rem;
  border: 1px solid var(--color-primary);
}
.font-pseudo::after, .font-pseudo::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
}
.margin-icon {
  margin-right: .3rem;
}

/* may cause issues */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition: none !important;
  }
  html {
    scroll-behavior: unset !important;
  }
}
