#header-popup {
  position: fixed;
  top: var(--estim-header-height);
  right: 0;
  display: flex;
  flex-direction: column;
  background: rgba(240,240,240,.825);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0 0 0 .25rem;
  overflow: hidden;
  z-index: 1;
  min-width: 8.6rem;
  border-left: 1px solid rgba(128,128,128,.33);
  border-bottom: 1px solid rgba(128,128,128,.33);
  box-shadow: 0 0 .33rem rgba(0,0,0,.25);
  transition: opacity .33s, transform .5s, clip-path ease .75s;
  /* clip-path: inset(0px -.33rem -.33rem -.33rem); */
  clip-path: circle(0.001%);
  transform-origin: top center;
}
@media only screen and (max-width: 460px) {
  #header-popup {
    left: 0;
    border-radius: 0 0 .5rem .5rem;
    border-left: none;
  }
}

/* Show/hide */
#user-profile-section:not(:focus-within) #header-popup {
  transform: scale(.8);
  pointer-events: none;
  opacity: 0;
}
#user-profile-section:focus-within #header-popup {
  /* clip-path: inset(0px -.33rem -.33rem -.33rem); */
  /* transition: transform .5s, clip-path .5s .1s; */ /* Disable opacity tansition */
  clip-path: circle(100%);
}

/* Style buttons */
#header-popup > .header-popup-item {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: .5rem;
  padding-right: .75rem;
  transition: background .14s;
  
}
#header-popup > a.header-popup-item,
#header-popup > a.header-popup-item:is(:hover, :visited, :active) {
  color: inherit;
  text-decoration: none;
}
#header-popup > .header-popup-item:not(:last-child) {
  padding-bottom: .5rem;
  border-bottom: 1px solid gray;
}
#header-popup > .header-popup-item:not(:first-child) {
  padding-top: .5rem;
}
#header-popup > .header-popup-item:first-child {
  padding-top: .65rem;
}
#header-popup > .header-popup-item:last-child {
  padding-bottom: .65rem;
}

/* Icons */
.header-popup-icon {
  font-size: 1.2rem;
  width: 1.5rem;
  margin-right: .4rem;
  text-align: center;
}

/* Hover effects */
#header-popup > .header-popup-item > :not(:first-child) {
  transition: transform .33s;
}
#header-popup > .header-popup-item:hover > :not(:first-child) {
  transform: translateX(.25rem);
}
#header-popup > .header-popup-item:hover {
  background: var(--color-primary-light-slight);
}
#header-popup > .header-popup-item:is(:active, :focus-visible) {
  background: var(--color-primary-light);
}
