:root {
  --estim-header-height: 44px;
}
#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background: rgba(255,255,255,.79);
  box-shadow: 0 0 .33rem rgba(0,0,0,.25);
  overflow: hidden;
  align-items: stretch;
  border-bottom: 1px solid lightgray;
  border-bottom-color: rgba(128,128,128,.33);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 .5rem;
  font-size: 1.25rem;
}
#header-new-logo {
  height: 24px;
  margin-right: .15rem;
}
#header-name {
  position: relative;
  transform: translateY(1px);
  z-index: 0;
  color: var(--color-branding-dark, black);
}
#header-name::after {
  content: '';
  position: absolute;
  inset: 0;
  bottom: 1px;
  left: -.3rem;
  right: -.33rem;
  background-color: var(--color-branding);
  z-index: -2;
  transform: scaleX(0.0001);
  transform-origin: left center;
  transition: transform .33s;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#header-title:hover #header-name::after { 
  transform: none;
}
/* #header-title:hover .header-logo-no-hover, .header-logo-hover {
  display: none;
}
#header-title:hover .header-logo-hover {
  display: inline-block;
} */
#header-center {
  display: flex;
  align-items: center;
  margin-left: auto;
}
#header-right {
  display: flex;
  align-items: stretch;
  margin-left: auto;
}
#user-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background .33s, border-left-color .33s;
  padding-left: .5rem;
  border-left: 1px solid transparent;
}
#user-profile-section:hover {
  background-color: var(--color-primary-light-slight);
  border-left-color: rgba(0,0,128,.33);
}
#user-profile-section:active {
  background-color: var(--color-primary-light);
}
#user-profile-section:active #logout-button {
  color: var(--color-primary-dark, darblue);
}
#user-profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-profile-icon img {
  border-radius: 50%;
  background-color: darkslateblue;
}
#user-profile-username-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 .5rem;
  overflow: hidden;
  position: relative;
}
#user-profile-loggedinas {
  color: gray;
  font-size: .75rem;
}
#user-profile-username {
  font-size: .9rem;
  display: block;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  max-width: min(50vw, 10rem);
}
@media only screen and (max-width: 550px) {
  #user-profile-username#user-profile-username {
    max-width: 8rem;
  }
}
@media only screen and (max-width: 500px) {
  #user-profile-username#user-profile-username {
    max-width: 5rem;
  }
}
#user-profile-loggedinas {
  display: grid;
}
#user-profile-loggedinas > * {
  grid-column: 1;
  grid-row: 1;
  transition: opacity .33s, color .33s;
  white-space: nowrap;
} 
#logout-button::after { content: '?'; }
#loggedinas-text { opacity: 1; z-index: 1; }
#logout-button { opacity: 0; z-index: 2; }
#user-profile-section:hover #loggedinas-text { opacity: 0; }
#user-profile-section:hover #logout-button { opacity: 1; }
@media (pointer: coarse) { 
  #user-profile-section #loggedinas-text { opacity: 0; }
  #user-profile-section #logout-button { opacity: 1; }
  #logout-button::after { content: ''; }
}

#--make-header-fixed {
  display: none;
}
#--make-header-fixed ~ #header {
  position: fixed;
  inset: 0;
  bottom: unset;
}

#header-search-bar {
  opacity: .65;
  width: 33vw;
  min-width: 120px;
  max-width: 30rem;
}
@-moz-document url-prefix() {
  /* 
    This shit breaks my shitty opacity-related code 
    (that shouldn't be there in the first place)
    on all Chromium-based browsers.
    Firefox implementation is better.
  */
  #header-search-bar {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
#header-search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-search-submit {
  position: absolute;
  right: .65rem;
  background: none;
  border: none;
  outline: none;
  color: #708090;
  transition: transform .2s, color .2s;
  font-size: 1rem;
  cursor: pointer;
}
#header-search-submit:is(:active,:hover) {
  color: var(--color-primary);
  transform: rotate(-8deg) scale(.9);
  text-shadow: 0 0 .1rem rgba(0,0,128,.33);
}
@media only screen and (max-width: 460px) {
  @media only screen and (min-width: 320px) {
    #header-title {
      position: absolute;
      top: 9px;
      left: 0px;
      transition: opacity .5s;
      opacity: 0;
    }
    #header-mobile-home-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.33rem;
      color: var(--color-primary);
      padding: 0 .5rem;
      padding-right: 0;
    }
    #header-search-bar {
      width: 45vw;
    }
    @media only screen and (max-width: 420px) {
      #header-right { font-size: .85rem; }
    }
    @media only screen and (max-width: 390px) {
      #header-right { font-size: .75rem; }
    }
    @media only screen and (max-width: 370px) {
      #header-right .styled-button.styled-button.styled-button {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }
}
@media only screen and (max-width: 319px) {
  #header {
    flex-direction: column;
  }
  #header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: .33rem;
  }
  #header-search-bar, #header-left {
    width: 100%;
  }
  #header-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
