.post {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 1rem;
  padding-left: 0;
  border-radius: .5rem;
  border: 1px solid gray;
}
.post:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .post, .scale-as-post {
    max-width: 75vw;
  }
}
@media only screen and (min-width: 1400px) {
  .post, .scale-as-post {
    max-width: 50vw;
  }
}
.post-votes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-vote-icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 .8rem;
  transition: filter .33s, transform .33s, text-shadow .33s;
}
.post-upvote {
  color: var(--color-upvote);
  --color: var(--color-upvote);
}
.post-downvote {
  color: var(--color-downvote);
  --color: var(--color-downvote);
}
.post-vote-icon:focus-visible {
  filter: brightness(125%) contrast(125%);
  text-shadow: 0 0 .2rem var(--color);
  transform: translateY(5%) scale(1.2);
}
.post-vote-icon.post-upvote:focus-visible {
  transform: translateY(-5%) scale(1.2);
}
.post-vote-icon:hover {
  filter: brightness(150%) contrast(150%);
  text-shadow: 0 0 .3rem var(--color);
  transform: translateY(10%);
}
.post-vote-icon.post-upvote:hover {
  transform: translateY(-10%);
}
.post-vote-counter {
  display: grid;
  place-items: center;
  z-index: 0;
}
.post-vote-counter > * {
  display: inline-block;
  grid-row: 1;
  grid-column: 1;
  transition: opacity .15s;
}
.upvctr-value {
  z-index: 1;
}
.upvctr-loading {
  opacity: 0;
  z-index: 2;
}
.post-vote-counter.loading .upvctr-loading { opacity: 1; }
.post-vote-counter.loading .upvctr-value { opacity: 0; }

.post-main-section {
  flex: 1;
  min-width: 0;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}
.post-pfp {
  display: block;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: .5rem;
}
.post-postedin {
  color: gray;
}
.post-topic {
  position: relative;
  display: inline-block; 
  text-align: center;
  background: rgb(233, 62, 96); /* TODO this should be generated somehow */
  color: white;
  padding: .2rem .4rem;
  border-radius: .2rem;
  transition: transform .33s;
  text-rendering: geometricPrecision;
}
.post-topic::before {
  content: '#';
  text-rendering: geometricPrecision;
  display: inline-block;
  transform: scale(1.1);
  padding-right: .3rem;
}
.post-topic:is(:hover, :focus-visible) {
  transform: scale(1.05) rotate(-4deg);
  box-shadow: 0 0 .1rem rgba(0, 0, 0, .5);
}

.post-title {
  margin: 0;
  margin-top: .25rem;
  overflow-wrap: break-word;
}
.post-content {
  margin: 0;
  margin-top: .25rem;
  background-color: var(--color-background);
  padding: 1rem;
  border-radius: .5rem;
  overflow-wrap: break-word;
}

.post-action-row {
  margin-top: .33rem;
}

.post-page-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
@media only screen and (max-width: 420px) {
  @media only screen and (min-width: 251px) {
    .post-page-selector :is(.page-first, .page-last) { display: none; }
  }
  @media only screen and (max-width: 180px) {
    .post-page-selector :is(.page-first, .page-last) { display: none; }
  }
}
@media only screen and (max-width: 250px) {
  .post-page-selector { flex-direction: column; }
}
