:root {
  --pfp-size: 200px;
  --pfp-margin-left: 2rem;
}
#user-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  min-height: 15rem;
  max-height: 32rem;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
}
#pfp-overlay {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#pfp-overlay img {
  margin-left: var(--pfp-margin-left);
  border-radius: 50%;
  width: var(--pfp-size);
  height: var(--pfp-size);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.5), 0 0 0 10px var(--color-background);
}
#pfp-overlay-spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--pfp-size) / 2);
  margin: 0;
  padding-left: calc(var(--pfp-size) + var(--pfp-margin-left) + 2rem);
}
#user-username, #user-username-mobile {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
#user-username-mobile {
  display: none;
  text-align: center;
  padding-top: 1rem;
  font-weight: normal;
}
@media only screen and (max-width: 600px) {
  #pfp-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pfp-overlay img {
    margin: 0;
  }
  #user-username {
    display: none;
  }
  #user-username-mobile {
    display: block;
  }
}
