:root {
  --pfp-size: min(200px, 75vw);
  --pfp-margin-left: 2rem;
}
#user-banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  min-height: 15rem;
  max-height: 32rem;
  overflow: hidden;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
  z-index: 0;
  /* border-radius: 0 0 .5rem .5rem; */
}
#pfp-overlay {
  display: block;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}
#pfp-overlay > div {
  position: relative;
  margin-left: var(--pfp-margin-left);
  border-radius: 50%;
  width: var(--pfp-size);
  height: var(--pfp-size);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.5), 0 0 0 10px var(--color-background);
  overflow: hidden;
  z-index: 1;
}
#pfp-overlay > div > img {
  display: block;
  width: var(--pfp-size);
  height: var(--pfp-size);
  z-index: 2;
}
#pfp-overlay-spacer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--pfp-size) / 2);
  margin: 0;
  padding-left: calc(var(--pfp-size) + var(--pfp-margin-left) + 2rem);
  flex-wrap: wrap;
}
#user-username {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  word-break: break-all;
}
#oth-user-actions {
  margin-right: 1rem;
}
@media only screen and (max-width: 600px) {
  #pfp-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pfp-overlay img {
    margin: 0;
  }
  #pfp-overlay {
    right: 0;
  }
  #pfp-overlay > div {
    margin-left: 0;
  }
  #oth-user-actions {
    margin-right: 0;
  }
  #pfp-overlay-spacer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: calc(var(--pfp-size) / 2);
    height: unset;
  }
  #user-username {
    text-align: center;
  }
}
@media only screen and (min-width: 1400px) {
  #pfp-overlay-spacer {
    justify-content: flex-start;
  }
  #oth-user-actions {
    margin-left: 1rem;
    margin-right: 0;
  }
}
@media only screen and (max-width: 275px) {
  #user-username {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 200px) {
  #user-username {
    font-size: 2rem;
  }
}
