.iform {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 400px) {
  .iform {
    width: 25vw;
    min-width: 15rem;
    max-width: 30rem;
  }
}
#del-checkbox-wrapper {
  padding-left: .25rem;
}
#anon-com {
  padding-left: .25rem;
  color: gray;
}
#anon-com .fa-solid {
  padding-right: .25rem;
}
#delete-posts-cb:checked ~ #anon-com {
  display: none;
}
