/* .messages-view.scroll {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
} */
.chat-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  padding: .25rem;
}
@media only screen and (max-width: 1500px) {
  .chat-message.incoming {
    flex-direction: row-reverse;
  }
}
.chat-message-pfp {
  border-radius: 50%;
}
/* .chat-message.consecutive {
  margin: -.0625rem 0;
  padding: 0 calc(40px + .5rem);
} */
