.chat-message {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: .5rem;
  padding: .25rem;
  position: relative;
  border-radius: .25rem;
  /* overflow: hidden; */
}
/* message-content */
.message-content {
  display: flex;
  flex-direction: column;
}
.message-content > * {
  display: inline-block;
}
/* if pending, fade */
.chat-message.pending .message-content {
  opacity: .5;
}
/* Shift to the right */
.chat-message.outgoing {
  flex-direction: row-reverse;
}
.chat-message.outgoing .message-content {
  align-items: flex-end;
}
/* Pfp and username */
.chat-message-pfp {
  border-radius: 50%;
}
.message-content-username {
  font-weight: bold;
}

/* These ones selects the next messages in chain */

/* line */
.chat-message.incoming + .chat-message.incoming::before,
.chat-message.outgoing + .chat-message.outgoing::before {
  --line-pos: calc(20px + .25rem - 1.5px);
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: unset;
  left: var(--line-pos);
  width: 3px;
  background: gray;
  border-radius: 99rem;
}
/* Move line to the right side in outgoing messages */
.chat-message.outgoing + .chat-message.outgoing::before {
  right: var(--line-pos);
  left: unset;
}

/* L - shape */
#html .chat-message.last-of-block::before { 
  bottom: 50%;
  width: 10px;
  border-radius: 0 0 7px 7px;
  border: 3px solid gray;
  background: transparent;
  border-top: none;
}
/* line cap */
#html .chat-message + .chat-message.last-of-block::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  overflow: hidden;
  border-radius: 50%;
  top: calc(50% - 3px);
  --line-cap-pos: calc(20px + .25rem + 10px);
  background: gray;
}
#html .chat-message + .chat-message.incoming.last-of-block::before {
  border-right: none;
  border-bottom-right-radius: 0;
}
#html .chat-message + .chat-message.outgoing.last-of-block::before {
  border-left: none;
  border-bottom-left-radius: 0;
}
.chat-message + .chat-message.incoming.last-of-block::after {
  left: var(--line-cap-pos);
}
.chat-message + .chat-message.outgoing.last-of-block::after {
  right: var(--line-cap-pos);
}

/* hide username and pfp */
.chat-message.incoming + .chat-message.incoming .chat-message-pfp,
.chat-message.outgoing + .chat-message.outgoing .chat-message-pfp {
  visibility: hidden;
  height: 0px;
}
.chat-message.incoming + .chat-message.incoming .message-content-username,
.chat-message.outgoing + .chat-message.outgoing .message-content-username {
  display: none;
}

/* Actions */
.message-actions {
  --line-pos: 1rem;
  position: absolute;
  right: var(--line-pos);
  top: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  background: white;
  border-radius: .33rem;
  border: 1px solid gray;
  transform: translateY(-50%);
  overflow: hidden;
}
.chat-message:hover .message-actions {
  opacity: .65;
  pointer-events: unset;
  transition: opacity .5s;
}
.message-actions.message-actions.message-actions:hover {
  opacity: 1;
}
.message-action {
  padding: .5rem;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
}
.message-action-destructive {
  color: var(--color-error);
}
/* Shift Actions to the left */
/* .chat-message.outgoing .message-actions {
  right: unset;
  left: var(--line-pos);
} */

/* Over-engineered background */
/* case 1 - only one button */
.message-action:first-child:last-child:hover {
  background: var(--color-primary-light-slight);
}
/* case 2 - center button */
.message-action:not(:first-child:last-child):hover {
  background: linear-gradient(
    to right, 
    transparent, 
    var(--color-primary-light-slight) 10%, 
    var(--color-primary-light-slight) 90%, 
    transparent
  );
}
/* case 2 - first button */
.message-action:not(:last-child):first-child:hover {
  background: linear-gradient(
    to right, 
    var(--color-primary-light-slight) 90%, 
    transparent
  );
}
/* case 3 - last button */
.message-action:not(:first-child):last-child:hover {
  background: linear-gradient(
    to right, 
    transparent,
    var(--color-primary-light-slight) 10%
  );
}

/* hover */
.chat-message:hover {
  background: rgba(0, 0, 0, .2);
}

/* message-*-only */
#html .chat-message.outgoing .message-in-only {
  display: none;
}
#html .chat-message.incoming .message-out-only {
  display: none;
}

/* Margins */
.chat-message {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (min-width: 1500px) {
  .chat-message {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}
@media only screen and (min-width: 1700px) {
  .chat-message {
    margin-left: 16vw;
    margin-right: 16vw;
  }
}
