
/*styled-input*/

.styled-input {
  --margin: .4rem;
  position: relative;
  display: flex;
  z-index: 0;
}
.styled-input.nomargin {
  margin: calc(-1 * var(--margin));
}
.styled-input > input {
  flex: 2;
  display: block;
  border-radius: 999rem;
  border: 1px solid gray;
  padding: .4rem 1rem;
  margin: var(--margin);
  z-index: 1;
}
/* Reduce corners of rectangular fields*/
.styled-input.rectangular > input {
  border-radius: .3rem;
}
/* Label/Placeholder */
.styled-input > label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(1.5rem, calc((1rem + 1em) / 3)) scale(1.1);
  background: linear-gradient(to bottom, transparent 0%, transparent calc(49% - 1px), white calc(49% - 1px), white calc(50% + 1px), white 55%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 999rem;
  padding-left: 3px;
  padding-right: 3px;
  transition: color .33s 0s, border-color .33s, transform .33s;
  color: gray;
  z-index: 2;
}
/* Make the input field yellow on autofill, but only in Firefox*/
@-moz-document url-prefix() {
  .styled-input > input:autofill ~ label {
    background: linear-gradient(to bottom, transparent 0%, transparent calc(49% - 1px), white calc(49% - 1px), #fffcc8 calc(50% + 1px), #fffcc8 55%, transparent 100%);
  }
}
/* Thiccer outline while focused */
.styled-input > input:focus {
  outline: none;
  border-width: 2px;
  margin: calc(var(--margin) - 1px);
}
/*Move label when focused */
.styled-input > :is(input:focus, input:not(:placeholder-shown)) ~ label {
  transition: color .33s, border-color .33s, transform .33s, background-position 0.001s linear .165s;
  transform: translate(1.25rem, -.25em) scale(.9);
  background-position: 0rem;
  color: black;
}
/* Red color when invalid */
.styled-input > input:invalid:not(:placeholder-shown) {
  color: var(--color-error, red);
  border-color: var(--color-error, red);
}
.styled-input > input:invalid:not(:placeholder-shown) ~ label {
  color: var(--color-error, red);
}
/* Fix Chrome autofill messing with colors */
.styled-input > input:-webkit-autofill,
.styled-input > input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.styled-input > input[data-autocompleted] {
  background-color: white !important;
}

/*Caps lock indicator*/
.styled-input.show-caps.caps::after {
  content: 'A \25B2';

  display: inline-block;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-1rem, -50%);

  font-style: normal;
  font-weight: bold;
  font-size: .85rem;
  color: gray;
  z-index: 999;

  background: white;
  border-radius: 999rem;
  padding: 3px;
}

/* FIX invalid height */
.styled-input .subm-icon-loading {
  line-height: 1em;
}

.styled-input.reduce-margin {
  margin-bottom: -.4rem;
}
