/*styled-button*/

/* Disable default link styling inside of buttons */
.styled-button:where(a, a:hover, a:visited, a:active),
.styled-button :where(a, a:hover, a:visited, a:active) {
  color: inherit;
  text-decoration: none;
}
.styled-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .4rem 1rem;
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
  transition: background .25s;
  border-radius: 999rem;
  margin: .2rem;
  font-weight: normal;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
}
.styled-button.as-input {
  font-size: .95em;
}
.styled-button:is(.inline, .inline-button) {
  display: inline-flex;
}
.styled-button.style-outline {
  background: transparent;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary);
}
.styled-button.with-shadow {
  box-shadow: 0 0 .1rem rgba(0,0,0,.33);
}
.styled-button.with-text-shadow {
  text-shadow: 0 0 .1rem rgba(0,0,0,.33);
}
/* Rectangular buttons */
.styled-button.slightly-rectangular-ish {
  border-radius: .77rem;
}
.styled-button.rectangular {
  border-radius: .3rem;
}
/* Hover/Active anims */
.styled-button:hover {
  background: var(--color-primary-dark);
}
.styled-button:active {
  background: var(--color-primary-darker);
}
.styled-button.style-outline:hover {
  background: var(--color-primary-light-slight);
}

/* Handle Destructive buttons */
.styled-button.style-outline.destructive {
  border-color: darkred;
  color: darkred;
}
.styled-button.style-outline.destructive:hover { 
  background-color: darkred;
  color: white;
}
.styled-button:not(.style-outline).destructive {
  border-color: darkred;
  background-color: darkred;
  color: white;
}
.styled-button:not(.style-outline).destructive:hover { 
  background-color: rgb(88, 0, 0);
}

/* Handle disabled buttons */
a.disabled.styled-button { 
  /* Disable pointer events on disabled a tags */
  pointer-events: none;
}
.styled-button.style-outline:is(:disabled,.disabled) {
  /* Change color of outline buttons */
  border-color: gray;
  color: gray;
  opacity: .9;
}
.styled-button:is(:disabled, .disabled) {
  /* Disable pointer icon */
  cursor: unset;
}

/* styled-button-icons related stuff */
.styled-button .styled-button-icons {
  display: inline-grid;
}
.styled-button > .styled-button-icons > .styled-button-icon {
  grid-column: 1;
  grid-row: 1;
  opacity: 1;
  transition: opacity .1s;
}
.styled-button > .styled-button-icons > .styled-button-icon:not(.styled-button-icon-selected) {
  opacity: 0;
}
