{% extends "stuff/base" %}

{% block title %}
  Main page
{% endblock title %}

{% block content %}
  <div id="content-padding">
    <h1>Index</h1>
    {% for post in posts %}

    {% endfor %}
  </div>
{% endblock content %}
