{% extends "stuff/base" %}

{% block title %}
  #{{_wip_name}}
{% endblock title %}

{% block head %}
  {{ super() }}
  {% include "stuff/post_imports" %}
{% endblock head %}

{% block content %}
  <div id="content-padding">
    <h1>#{{_wip_name}}</h1>
    {% if vars.user %}
      {{ macros_posts::post_submit_button() }}
    {% endif %}
    {{ macros_posts::post_view(posts = posts, page_count = page_count, current_page = page) }}
  </div>
{% endblock content %}
